*{
    margin: 0;
    padding: 0;  
}
.cabecalho{
    background-color: #f1889b;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 24px 0;
}
.cabecalho-imagem{
    width: 20%;
}
.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    padding: 28px 0;
    font-size: 23px;
}
.escola{
    background-image: linear-gradient(#f1889b,#ffcdd4);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}
.escola-conteudo{
    width: 45%;
}
.escola-titulo{
    padding: 24px 0;
}